@charset "UTF-8";
body {
    background-color: #e6eae6;
    font-family: "Bodoni Moda", "Hina Mincho", sans-serif;
    color: #666c67;
}
main{
    padding-left: 100px;
}
h1 {
    font-size:250%
}
.header_bg{
    background-image: url("images/header.JPG");
    background-size: cover;
}
.header_txt{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.menu {
    display: flex;
    background-color: #abb1ad;
    padding: 5px;
    list-style: none;
}
.menu_item {
    color: #e6eae6;
    text-decoration: none;
    background-color: #abb1ad;
    padding: 5px;
    margin: 15px;
}
